# Data files - DON'T COMMIT LARGE FILES
data/
!data/DATA_INFO.txt
!data/dashboard/
data/dashboard/*.csv
data/dashboard/*.json
data/processed/

# Models
models/*.pkl

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
desktop.ini

# Streamlit
.streamlit/secrets.toml